<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Personal Shopping Site</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='Images/img-DS.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blogpost.css') }}" />

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/preloader.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="./js/preloader.js"></script>
    <script>
      function collapseprompt() {
        var x = document.getElementById("prompt");
        var image = document.getElementById("arrow");
        if (x.style.display === "none") {
          x.style.display = "block";
          image.src = "{{ url_for('static', filename='assets/icons8-collapse-arrow-100.png') }}";
        }
        else{
          x.style.display = "none";
          image.src = "{{ url_for('static', filename='assets/icons8-expand-arrow-100.png') }}";
        }
      }
    </script>
    <script>
      function opendropdown() {
        var x = document.getElementById("whodropdown");
        if (x.style.display === "none") {
          x.style.display = "block";
        }
        else{
          x.style.display = "none";
        }
      }
    </script>
    <script>
      function setCookie(name, value, days) {
        const d = new Date();
        d.setTime(d.getTime() + (days * 24 * 60 * 60 * 1000));
        let expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }
      
    </script>
    <script>
      function setUserDetails(){
        var x = document.getElementById("user_form").value;
        document.getElementById("user_dets").innerHTML = x;
      }
    </script>
    <script>
        function updateUserDetails(event) {
            event.preventDefault(); // prevent the form from submitting normally
            
            var userInput = document.getElementById("user_form").value;
            document.getElementById("user_dets").innerHTML = userInput;

            var form = document.getElementById("user_details_form");
            form.submit(); // submit the form without refreshing the whole page
        }
    </script>
    

  </head>

  <body>
    <div class="se-pre-con"></div>
    <header id="home" style="margin-bottom: 0px;">
      <nav class="nav_bar" style="background-color: black; padding: 10px; display: flex; justify-content: space-between; align-items: center; width: 100%; box-sizing: border-box;">
        <!-- Centered logo and text -->
        <div class="web_name" style="display: flex; align-items: center; flex: 1; justify-content: center;">
          <img src="{{ url_for('static', filename='assets/icons8-face-powder-96.png') }}" alt="logo" style="height: 40px; margin-right: 10px;" />
          <a href="#home" style="text-decoration: none; color: white; font-size: 18px;">Personal Shopping Site</a>
        </div>
        
        <!-- Right-aligned account link -->
        <div class="account_drop" style="margin-left: auto; background-color: #B3CEE5; height: 40px; padding-left: 5px; padding-right: 5px; display: flex; align-items: center; text-align: center;">
          <a class="accounts" onclick="opendropdown()" style="text-decoration: none; color: white; width: 30px; background-color: #B3CEE5;">
            <i class="fas fa-user"></i>
          </a>
          
          <form id="user_details_form" method="POST" action="/update_user_details" onsubmit="updateUserDetails(event)">
            <div class="prompt_dropdown" id="whodropdown" style="background-color:#F7CAC9; color: white; display: none; width: 400px; right: 0px;">
                <a href="#" style="color: white; font-weight: bold;">WHO YOU ARE</a>
                <div style="display: flex; align-items: center; flex-direction: column;">
                    <div id="user_dets" style="height: 40px; width: 400px;">{{ user_details }}</div>
                    <textarea name="user_details" id="user_form" rows="7" cols="45" style="margin: 5px 10px;"></textarea>
                    <button type="submit" class="saving" style="margin-left: 10px; padding: 10px 15px; border-radius: 10%; background-color: white; border: none;">
                        Save
                    </button>
                </div>
            </div>
        </form>
          
        </div>
      </nav>
      
      <div style="background-color: black; padding-bottom: 1px; margin-top: -17px;">
    
      <!-- Search bar section -->
      <form method="POST" action="/index">
        <div style="background-color: black; padding: 20px; width: 100%; box-sizing: border-box; ">
          <!-- Line of text above the search bar -->
          <p style="color: white; text-align: center;">Narrow your criteria further (e.g. add a finish like matte or liquid, or request clean ingredients.):</p>
          
          <!-- Search bar with placeholder text and a 'Go' button -->
          <div style="display: flex; justify-content: center; align-items: center;">
            <input type="text" name="updated_preferences" placeholder="I am looking for a light foundation for sensitive skin." 
                  style="flex: 1; max-width: 500px; padding: 10px; border-radius: 5px; border: none;">
            
            <button type="submit" class="saving" style="margin-left: 10px; padding: 10px 15px; border-radius: 50%; background-color: white; border: none;">
              Go
            </button>
          </div>
        </div>
      </form>
    </header>

    <!-- This section is where images are displayed -->
    {% if products_list %}
    <div style="display: flex; align-items: center; text-align: center; padding-bottom: 5em;">
      {% for i in range(0,7) %}
        <div style="flex: 14%; padding: 0.5em 0em">
          <img src="{{products_list[i].url}}" height="200em" width="125em">
          <p>{{products_list[i].name}}</p>
          <b style="margin-top: 0.5em">{{products_list[i].brand}}</b>
          <p style="margin-top: 0.5em">${{products_list[i].price}}</p>
          <button style="padding: 0.5em 2em; background-color: white;">ADD TO BAG</button>
        </div>
      {% endfor %}
    {% else %}
    <div style="text-align: center; padding: 2em;">
      <img src="{{ url_for('static', filename='assets/nothing_found.png') }}" alt="error" style="height: 90px;" />
      <p>Sorry, your search did not return any products.</p></div>
    {% endif %}

      <!-- <div style="flex: 14%;">
        <img src="{{ url_for('static', filename='/assets/foundation_sample.jpeg') }}" height="200em">
        <p>NARS</p>
        <b style="margin-top: 0.5em">Light liquid foundation</b>
        <p style="margin-top: 0.5em">$16.95</p>
        <button style="padding: 0.5em 2em; background-color: white;">ADD TO BAG</button>
      </div>
      <div style="flex: 14%;">
        <img src="{{ url_for('static', filename='/assets/foundation_sample.jpeg') }}" height="200em">
        <p>NARS</p>
        <b style="margin-top: 0.5em">Light liquid foundation</b>
        <p style="margin-top: 0.5em">$16.95</p>
        <button style="padding: 0.5em 2em; background-color: white;">ADD TO BAG</button>
      </div>
      <div style="flex: 14%;">
        <img src="{{ url_for('static', filename='/assets/foundation_sample.jpeg') }}" height="200em">
        <p>NARS</p>
        <b style="margin-top: 0.5em">Light liquid foundation</b>
        <p style="margin-top: 0.5em">$16.95</p>
        <button style="padding: 0.5em 2em; background-color: white;">ADD TO BAG</button>
      </div>
      <div style="flex: 14%;">
        <img src="{{ url_for('static', filename='/assets/foundation_sample.jpeg') }}" height="200em">
        <p>NARS</p>
        <b style="margin-top: 0.5em">Light liquid foundation</b>
        <p style="margin-top: 0.5em">$16.95</p>
        <button style="padding: 0.5em 2em; background-color: white;">ADD TO BAG</button>
      </div>
      <div style="flex: 14%;">
        <img src="{{ url_for('static', filename='/assets/foundation_sample.jpeg') }}" height="200em">
        <p>NARS</p>
        <b style="margin-top: 0.5em">Light liquid foundation</b>
        <p style="margin-top: 0.5em">$16.95</p>
        <button style="padding: 0.5em 2em; background-color: white;">ADD TO BAG</button>
      </div>
      <div style="flex: 14%;">
        <img src="{{ url_for('static', filename='/assets/foundation_sample.jpeg') }}" height="200em">
        <p>NARS</p>
        <b style="margin-top: 0.5em">Light liquid foundation</b>
        <p style="margin-top: 0.5em">$16.95</p>
        <button style="padding: 0.5em 2em; background-color: white;">ADD TO BAG</button>
      </div> -->
    </div>

    <!-- This section is where images and blog post are displayed -->
    <div style="display: flex; align-items: flex-start; text-align: center">
      <div style="flex: 42%; padding: 0em 1em">
        <fieldset>
          <legend>From your beauty advisor</legend> 
          <table>
            <tr><td>{{blog}}</td></tr>
            <!-- <tr><td>Given your age and ethnicity, it is important to focus on skincare products that cater to the needs of Chinese skin, which is typically prone to hyperpigmentation and sensitivity. Look for skincare products that contain brightening ingredients like niacinamide or Vitamin C to even out your skin tone and protect it from environmental stressors. For foundation, aim for a lightweight formula that offers buildable coverage to achieve a natural finish. Considering your budget, seek out products that offer good quality without breaking the bank. When applying foundation, start with a clean, moisturized face and use a beauty sponge or brush for a seamless application. Remember to blend well into your skin tone for a flawless look. Prioritizing skincare and choosing the right foundation can enhance your natural beauty and promote a healthy complexion.</td></tr> -->
          </table>
        </fieldset>
      </div>

    {% if products_list %}
        <!-- Images and black bar in the same container -->
    <div style="flex: 58%; text-align: center;">
      <!-- Black text bar across the top of images -->
      <div style="background-color: black; color: white; padding: 1em; margin-bottom: 2em;">
        <p style="margin: 0;"><b>You may want to compliment your routine with these products</b></p>
      </div>

      <!-- Image section -->
      
        <div style="display: flex; justify-content: space-around;">
          {% for i in range(7,11) %}
          <div style="flex: 1; padding: 0.5em 1em;">
            <img src="{{products_list[i].url}}" height="200em" width="125em">
            <p>{{products_list[i].name}}</p>
            <b style="margin-top: 0.5em">{{products_list[i].brand}}</b>
            <p style="margin-top: 0.5em">${{products_list[i].price}}</p>
            <button style="padding: 0.5em 2em; background-color: white;">ADD TO BAG</button>
          </div>
          {% endfor %}
        {% endif %}
        <!-- <div style="flex: 1; padding: 0 1em;">
          <img src="{{ url_for('static', filename='/assets/foundation_sample.jpeg') }}" height="200em">
          <p>NARS</p>
          <b style="margin-top: 0.5em">Light liquid foundation</b>
          <p style="margin-top: 0.5em">$16.95</p>
          <button style="padding: 0.5em 2em; background-color: white;">ADD TO BAG</button>
        </div>
        <div style="flex: 1; padding: 0 1em;">
          <img src="{{ url_for('static', filename='/assets/foundation_sample.jpeg') }}" height="200em">
          <p>NARS</p>
          <b style="margin-top: 0.5em">Light liquid foundation</b>
          <p style="margin-top: 0.5em">$16.95</p>
          <button style="padding: 0.5em 2em; background-color: white;">ADD TO BAG</button>
        </div>
        <div style="flex: 1; padding: 0 1em;">
          <img src="{{ url_for('static', filename='/assets/foundation_sample.jpeg') }}" height="200em">
          <p>NARS</p>
          <b style="margin-top: 0.5em">Light liquid foundation</b>
          <p style="margin-top: 0.5em">$16.95</p>
          <button style="padding: 0.5em 2em; background-color: white;">ADD TO BAG</button>
        </div> -->
      </div>
    </div>
  </div>

  <div style="background-color: black; color: white; padding: 1em; margin: 3em 0em 0em 0em; text-align: center;">
    <p style="margin: 0;"><b>Personalized site custom generated in {{time}} seconds</b></p>
  </div>
  

    <footer>
      <div style="text-align: center; color:gray; background-color: white;">
        <p>©2024. All Rights Reserved</p>
      </div>
    </footer>
  </body>
</html>
